{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include 'admin/_menu.html.twig' %}
{% endblock %}

{% block content %}
    <h2>Главная страница Админки</h2>
{% endblock %}

