{% if app.request.hasPreviousSession %}

    {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
